{{> head}}

      <div class="row">
        <div class="col-lg-4" >
          <a href="five-years.html"><button type="button" class="btn btn-lg btn-info">1</button></a>
          <a href="five-years2.html"><button type="button" class="btn btn-lg btn-info">2</button></a>
          <a href="five-years3.html"><button type="button" class="btn btn-lg btn-info">3</button></a>
        </div>
        <div class="col-lg-4" >
          <a href="index3.html"><button type="button" class="btn btn-lg btn-info">1 Month</button></a>
          <a href="three-months3.html"><button type="button" class="btn btn-lg btn-info">3 Months</button></a>
          <a href="one-year3.html"><button type="button" class="btn btn-lg btn-info">1 Year</button></a>
          <a href="five-years3.html"><button type="button" class="btn btn-lg btn-info">5 Years</button></a>
          <a href="all3.html"><button type="button" class="btn btn-lg btn-info">All</button></a>
        </div>
        <div class="col-lg-4" ></div>
        <div class="col-lg-4" ></div>
      </div>

      {{#ticker3}}
      <div class="row">
        <div class="col-lg-3">
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
              { "symbol": "{{ticker1}}", "width": "100%", "height": "350", "locale": "en", "dateRange": "60m", "colorTheme": "dark", "trendLineColor": "#37a6ef", "underLineColor": "rgba(55, 166, 239, 0.15)", "isTransparent": false, "autosize": false, "largeChartUrl": "" }
            </script>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
              { "symbol": "{{ticker2}}", "width": "100%", "height": "350", "locale": "en", "dateRange": "60m", "colorTheme": "dark", "trendLineColor": "#37a6ef", "underLineColor": "rgba(55, 166, 239, 0.15)", "isTransparent": false, "autosize": false, "largeChartUrl": "" }
            </script>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
              { "symbol": "{{ticker3}}", "width": "100%", "height": "350", "locale": "en", "dateRange": "60m", "colorTheme": "dark", "trendLineColor": "#37a6ef", "underLineColor": "rgba(55, 166, 239, 0.15)", "isTransparent": false, "autosize": false, "largeChartUrl": "" }
            </script>
          </div> 
        </div>
        <div class="col-lg-3">
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
              { "symbol": "{{ticker4}}", "width": "100%", "height": "350", "locale": "en", "dateRange": "60m", "colorTheme": "dark", "trendLineColor": "#37a6ef", "underLineColor": "rgba(55, 166, 239, 0.15)", "isTransparent": false, "autosize": false, "largeChartUrl": "" }
            </script>
          </div>
        </div>
      </div>

      {{/ticker3}}

{{> footer}}