{{> head}}

      <div class="row">
        <div class="col-lg-6" >
          <a href="index.html"><button type="button" class="btn btn-lg btn-info">1 Month</button></a>
          <a href="three-months.html"><button type="button" class="btn btn-lg btn-info">3 Months</button></a>
          <a href="one-year.html"><button type="button" class="btn btn-lg btn-info">1 Year</button></a>
          <a href="five-years.html"><button type="button" class="btn btn-lg btn-info">5 Years</button></a>
          <a href="all.html"><button type="button" class="btn btn-lg btn-info">All</button></a>
        </div>
        <div class="col-lg-6" >
          <a href="overview.html"><button type="button" class="btn btn-lg btn-info">Overview</button></a>
        </div>
      </div>

      {{#ticker}}
      <div class="row">
        <div class="col-lg-6">
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
              { "symbol": "{{ticker1}}", "width": "100%", "locale": "en", "colorTheme": "dark", "isTransparent": false }
            </script>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
              { "symbol": "{{ticker2}}", "width": "100%", "locale": "en", "colorTheme": "dark", "isTransparent": false }
            </script>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
              { "symbol": "{{ticker3}}", "width": "100%", "locale": "en", "colorTheme": "dark", "isTransparent": false }
            </script>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
              { "symbol": "{{ticker4}}", "width": "100%", "locale": "en", "colorTheme": "dark", "isTransparent": false }
            </script>
          </div>
        </div>
      </div>

      {{/ticker}}

{{> footer}}